.container {
    display: flex;
    height: 100vh;
  }
/*   
  .left-column{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
  }
  .left-column {
    background-color: #f3f4f6;
  }
  .right-column {
    background-color: #ffffff;
  }
  .character-image {
    height: auto;
    max-width: 100%;
    margin: 0 auto;
  }
  .flex {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
   */